/*FUENTES*/

/*ESTILOS GENERALES*/
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/paven.png");
}
/*CABECERA*/
.header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}
.header .logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}
.header .logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}
.header h1{
    text-align: center;
    font-size: 40px;
}
.header h1 a{
    text-decoration: none;
    color: #a70b0b; 
}